.container {
  display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
  margin: auto;
   max-width: 888px; 
  font-family: sans-serif;
}
.navbar {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
justify-items: center;
}
.heading {
  color: rebeccapurple;
  text-align: center;
  font-size:2em;
}
.heading1 {
  color: rgb(95, 103, 145);
  text-align: center;
  font-size:22px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
flex-wrap: wrap;
  list-style: none;

}
.nav-link-item {
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
margin: 1rem;
  padding: 1rem;
  background-color:rgb(179, 245, 188);
}
.nav-link-text {
  color: black;
  font-size: 16px;
}


.shopprofilemenusection {

  background-color:aquamarine;
}




