.container {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}
.navbar {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  display: flex;
  justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}